{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Report API
    {% endblock %}</title>
    <style>
        #content {
            flex-grow: 0;
            flex-basis: 100px;
        }
    </style>
</head>
<body>
{% block index %}active{% endblock %}
{% block container %}

    <h1 class="display-1 my-4">Report API</h1>
    <p class="text-success">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </p>

    <form action="{% url 'index' %}" method="post" class="mx-auto my-2 p-3"
          style="border-radius: 10px; background-color: #e1e1e1">
        <label for="content" class="form-label">Create Task</label>
        <input type="text" name="content" id="content" placeholder="Content" class="form-control mx-auto my-2"
               style="width: 200px">
        <button class="btn btn-info" type="submit">Create Task</button>
    </form>
    <hr class="my-5">
    <h5 class="display-6">Today's Tasks</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Content</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for task in today %}
            <tr>
                <th scope="row">{{ task.pk }}</th>
                <td>{{ task.content|title }}</td>
                <td>{{ task.created }}</td>
                <td>
                    <a class="text-reset text-decoration-none mx-2" data-bs-toggle="modal" data-bs-target="#editTask"
                       data-bs-id="{{ task.pk }}" data-bs-content="{{ task.content }}" href="#">
                        <i class="bi bi-pencil-square text-success"></i>
                    </a>
                    <a class="text-reset text-decoration-none mx-2" href="#"
                       data-bs-toggle="modal" data-bs-target="#deleteModal"
                       data-bs-id="{{ task.pk }}" data-bs-content="{{ task.content }}">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr class="my-5">
    <h5 class="display-6">Generate Report:</h5>
    <div style="width: 700px" class="mx-auto mb-5 p-2">
        <form action="{% url 'report' %}" class="row g-3" method="get">
            <div class="col-md-4">
                <label for="day" class="form-label">Day</label>
                <input type="number" class="form-control" id="day" name="day" value="{% now 'd' %}">
            </div>
            <div class="col-md-4">
                <label for="month" class="form-label">Month</label>
                <input type="number" class="form-control" id="month" name="month" value="{% now 'm' %}">
            </div>
            <div class="col-md-4">
                <label for="year" class="form-label">Year</label>
                <input type="number" class="form-control" id="year" name="year" value="{% now 'Y' %}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Generate Report</button>
            </div>

        </form>
    </div>
    <!-- UPDATE MODAL -->
    <div class="modal fade" id="editTask" tabindex="-1" aria-labelledby="editTaskLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskLabel">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="text-center">
                        <div class="mb-3">
                            <label for="pk" class="col-form-label">ID:</label>
                            <input type="text" class="form-control mx-auto" disabled id="pk" style="width: 50px">
                        </div>
                        <div class="mb-3">
                            <label for="disabled-content" class="col-form-label">Previous Content:</label>
                            <input type="text" class="form-control" disabled id="disabled-content">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">Content:</label>
                            <input type="text" class="form-control" id="content">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE MODAL -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title text-center" id="deleteModalLabel" style="margin: 0 auto;position: absolute;">
                        Delete Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <p id="delete_content" class="font-monospace">DATA</p>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let base_url = 'http://127.0.0.1:8000/';
        let taskModal = document.getElementById('editTask') //Edit Task Modal
        taskModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget
            let pk = button.getAttribute('data-bs-id')
            let content = button.getAttribute('data-bs-content')
            let modalTitle = taskModal.querySelector('.modal-title')
            let modalBodyInput = taskModal.querySelector('.modal-body #pk')
            let modalContentInput = taskModal.querySelector('#content')
            let modalDisabledInput = taskModal.querySelector('#disabled-content')
            modalTitle.textContent = 'Edit Task: ' + content
            modalBodyInput.value = pk
            modalDisabledInput.value = content
            modalContentInput.value = content
            $('#edit').click(function (e) {
                e.preventDefault();
                let data = JSON.stringify({'content': modalContentInput.value});
                let url = 'tasks/' + pk + '/update/';
                //Added Ajax Function
                $.ajax({
                    type: 'PATCH',
                    url: url,
                    data: data,
                    success: function () {
                        location.reload();
                    }
                })
            });
        });
        //Delete Task Modal
        let deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget
            let pk = button.getAttribute('data-bs-id')
            console.log(pk)
            let content = button.getAttribute('data-bs-content')
            console.log(content)
            let taskToDelete = document.getElementById('delete_content')
            taskToDelete.innerHTML = content
            $('#delete').click(function (e) {
                e.preventDefault();
                let url = base_url + 'tasks/' + pk + '/delete/';
                //Added Ajax Function
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    data: null,
                    success: function () {
                        location.reload();
                    }
                })
            });
        });


    </script>
{% endblock %}
</body>
</html>